#roadmap{
    padding: 5% 0;
}

.roadmapHeader{
    text-align: center;
}
.roadmapHeader h1{
    color: #fff;
    font-size: 4rem;
    font-weight: 300;
}
.roadmapParas{
    display: flex;
    justify-content: center !important;
    text-align: center;
}
.roadmapPara{
    overflow: hidden;
    margin-top: 5%;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    position: relative;
}
.roadmapParaContainer{
    position: relative;
}
.roadmapIconBack{
    position: absolute;
    top: 50%;
    left: 10%;
}
.roadmapIconForward{
    position: absolute;
    top: 50%;
    right: 10%;
}
.roadmapPageClose{
    display: flex;
    justify-content: center;
    align-items: center;
}
.roadmapPageOne2{
    background-image: url(../../../public/Assets/page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 23px 1px 10px 0px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 23px 1px 10px 0px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 23px 1px 10px 0px rgba(0,0,0,0.75) inset;
}
/*==================================================PAGE 1==========================================*/
.roadmapPageOne{
    background-image: url(../../../public/Assets/page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -23px 1px 10px 0px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: -23px 1px 10px 0px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: -23px 1px 10px 0px rgba(0,0,0,0.75) inset;
}
.roadmapPageOneImg{
    margin-top: 20%;
}
.roadmapPageOneImg img{
    width: 300px;
    border: 5px dashed #7b4d14;
    padding: 5px;
}
.roadmapPageOneText{
    margin: 35px;
}
.roadmapPageOneText img{
    width: 90%;
}
.roadmapPageOneText h2{
    color: #7b4d14;
    margin: 2% 0;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 2rem;
}
.roadmapPageOneText h1{
    margin-top: 5%;
    color: #7b4d14;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
}
/*==================================================PAGE 2==========================================*/
.roadmapPageTwo{
    background-image: url(../../../public/Assets/page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 23px 1px 10px 0px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 23px 1px 10px 0px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 23px 1px 10px 0px rgba(0,0,0,0.75) inset;
}
.roadmapPageTwoHeader{
    margin-top: 20%;
}
.roadmapPageTwoHeader h2{
    color: #7b4d14;
    font-family: 'Dancing Script', cursive;
    font-weight: lighter;
    font-size: 3rem;
}
.roadmapPageTwoHeader img{
    width: 50px;
    opacity: 0.7;
    margin: 3% 0;
}
.roadmapPageTwoHeader p{
    width: 90%;
    font-family: 'Overlock', cursive;
    color: #7b4d14;
    font-size: 1.5rem;
    font-weight: 300;
}
.roadmapPageFooter{
    margin: 35px;
}
.roadmapPageFooter img{
    width: 90%;
}
.roadmapPageFooter h1{
    margin-top: 5%;
    color: #7b4d14;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
}
/* =======================================PAGE 3=============================================== */
.roadmapPageThree{
    background-image: url(../../../public/Assets/page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 23px 1px 10px 0px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 23px 1px 10px 0px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 23px 1px 10px 0px rgba(0,0,0,0.75) inset;
    display: flex;
}
.roadmapPageThreeImg{
    margin: 20%;
}
.roadmapPageThreeImg img{
    width: 300px;
    border: 5px dashed #281702;
    padding: 5px;
}
.roadmapPageThreeImg h2{
    color: #281702;
    margin: 2% 0;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 2rem;
}
/* ===================================PAGE 4======================================================== */
.roadmapPageFour{
    background-image: url(../../../public/Assets/page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 23px 1px 10px 0px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 23px 1px 10px 0px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 23px 1px 10px 0px rgba(0,0,0,0.75) inset;
    display: flex;
}
.roadmapPageFourHeader{
    margin-top: 20%;
}
.roadmapPageFourHeader h2{
    color: #7b4d14;
    font-family: 'Dancing Script', cursive;
    font-weight: lighter;
    font-size: 3rem;
}
.roadmapPageFourHeader img{
    width: 50px;
    opacity: 0.7;
    margin: 3% 0;
}
.roadmapPageFourHeader ul li{
    list-style: none;
}
.roadmapPageFourHeader ul li p{
    width: 90%;
    font-family: 'Overlock', cursive;
    color: #7b4d14;
    font-size: 1.5rem;
    font-weight: 300;
}
.roadmapIconBack{
    position: absolute;
}

/* ===================================MEDIA======================================== */
@media only screen and (max-width: 1300px) {
    .roadmapIconBack{
        left: 6%;
    }
    .roadmapIconForward{
        right: 6%;
    }
}
@media only screen and (max-width: 1172px) {
    .roadmapIconBack{
        left: 2%;
    }
    .roadmapIconForward{
        right: 2%;
    }
}
@media only screen and (max-width: 1000px) {
    .roadmapIconBack{
        left: 0%;
    }
    .roadmapIconForward{
        right: 0%;
    }
}
@media only screen and (max-width: 890px) {
    .roadmapPara{
        box-shadow: none;
    }
}
@media only screen and (max-width: 700px) {
    .roadmapIconBack{
        display: none;
    }
    .roadmapIconForward{
        display: none;
    }
}
@media only screen and (max-width: 450px) {
    .roadmapPageOne{
        width: 100vh;
    }
     .roadmapPageTwoHeader p{
        width: 95%;
        font-size: 1.2rem;
    }
    .roadmapPageFourHeader ul li p{
        width: 95;
        font-size: 1.2rem;
    }
}
/* .roadmapPageOne2 {
    right: 100px !important;
} */